<div id="cartblock">
  <mat-card id="cart">
    <div id="cartContent">
      <ul *ngFor="let c of newCarts">
        <li>
          <div class="product">
            <img class="img" src="http://localhost:13764/Img/{{c?.picture}}" />
            {{c?.name}}<br />
            Кількість - {{c?.quantity}}<br />
            Ціна - {{c?.price * c?.quantity}} грн.<br />
            | <span class="remove" (click)="removeFromCart(c?.id)">remove</span>
          </div>
          <hr />
        </li>
       
      </ul>
    </div>
    <div *ngIf="isOrderContent" class="orderContent">
      Загальна кількість: {{total}} шт.<br/>
      <button mat-flat-button button class="continue" (click)="continue()">Далі</button>
      Заг. сумма: {{sum}} грн.<br />
    </div>
    <div *ngIf="!isOrderContent" class="emptyCart">
      Ваш кошик порожній

    </div>


  </mat-card>
</div>


