<div header-main>
  <mat-toolbar class="header">
    <button mat-button routerLink="/">ГОЛОВНА</button>
    <button mat-button routerLink="/">ПРО НАС</button>
    <button mat-button routerLink="/">КОНТАКТИ</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button routerLink="/register">реєстрація</button>
    <button mat-button routerLink="/login">увійти</button>
  </mat-toolbar>
  <div class="shapca">
    <img src="http://localhost:13764/Img/shapka_04.png" alt="shapca" />
  </div>
  <mat-toolbar class="header2">
    <button mat-button routerLink="/">одяг для хлопців</button>
    <button mat-button routerLink="/">oдяг для дівчат</button>
    <button mat-button routerLink="/">пластові аксесуари</button>
    <button mat-button routerLink="/">пластові відзнаки</button>
  </mat-toolbar>
</div>


