<div class="container-fluid">
  <div class="row navbar navbar-dark navbar-expand-lg header">
    <span class="navbar-brand d-lg-none" id="mainlink" [routerLink]="['/']">НA ГОЛОВНУ</span>

    <button class="navbar-toggler navbar-toggler-right" type="button"
            id="nav-main" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--d-md-none-->
    <div class="collapse navbar-collapse navbar-nav" id="collapseBasic1" [collapse]="isCollapsed1" [isAnimated]="true">

      <div class="nav-item col-lg-2">
        <button class="nav-link d-none d-lg-block" mat-button [routerLink]="['/']">ГОЛОВНА</button>
      </div>

      <div class="nav-item col-lg-2">
        <button class="nav-link" mat-button [routerLink]="['/aboutus']">ПРО НАС</button>
      </div>

      <div class="nav-item col-xs-2 col-sm-2 col-md-3 col-lg-2">
        <button class="nav-link" mat-button [routerLink]="['/contacts']">КОНТАКТИ</button>
      </div>

      <div class="col-xs-1 col-sm-1 col-lg-1"></div>

      <div class="nav-item col-xs-1 col-sm-1 l-md-1 col-lg-1">
        <button class="nav-link" mat-button *ngIf="!auth.isAuthenticated" routerLink="/register">реєстрація</button>
      </div>

      <div class="nav-item col-xs-2 col-sm-2 col-lg-2">
        <button class="nav-link" mat-button *ngIf="auth.isAuthenticated">ласкаво просимо, {{auth.getUserName()}}</button>
      </div>

      <div class="nav-item col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <button class="nav-link" mat-button *ngIf="!auth.isAuthenticated" routerLink="/login">увійти</button>
      </div>

      <div class="nav-item col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <button class="nav-link" mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()">вийти</button>
      </div>
    </div>
  </div>

  <div class="row row-hed-1">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="shapca">
        <img src="http://localhost:13764/Img/shapka_04.png" alt="shapca" />
      </div>
    </div>
  </div>

  <div class="row navbar navbar-dark navbar-expand-lg header2">
    <a class="navbar-brand" href="#"></a>
     <button class="navbar-toggler navbar-toggler-right" type="button" 
            id="nav-main" (click)="isCollapsed2 = !isCollapsed2"
            [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic2">
      <span class="navbar-toggler-icon" id="spanColor"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav" id="collapseBasic2" [collapse]="isCollapsed2" [isAnimated]="true">

      <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="nav-link" mat-button routerLink="/dressboy">одяг для хлопців</button>
      </div>
      <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="nav-link" mat-button routerLink="/dressgirl">oдяг для дівчат</button>
      </div>
      <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="nav-link" mat-button routerLink="/accessors">пластові аксесуари</button>
      </div>
      <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button class="nav-link" mat-button routerLink="/attributs">пластові відзнаки</button>
      </div>

    </div>

  </div>
 

</div>


