<div header-main>
  <mat-toolbar class="header">
    <button mat-button routerLink="/">ГОЛОВНА</button>
    <button  mat-button routerLink="/aboutus">ПРО НАС</button>
    <button mat-button routerLink="/contacts">КОНТАКТИ</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button *ngIf="auth.isAuthenticated">ласкаво просимо, {{auth.getUserName()}}</button>
    <button mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()">вийти</button>
    <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/register">реєстрація</button>
    <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/login">увійти</button>
  </mat-toolbar>
  <div class="shapca">
     <img src="http://localhost:13764/Img/shapka_04.png" alt="shapca" />
  </div>
  <mat-toolbar class="header2">
    <button mat-button routerLink="/dressboy">одяг для хлопців</button>
    <button mat-button routerLink="/dressgirl">oдяг для дівчат</button>
    <button mat-button routerLink="/accessors">пластові аксесуари</button>
    <button mat-button routerLink="/attributs">пластові відзнаки</button>
  </mat-toolbar>
</div>


