
#cartblock {
  border: 0px solid #ccc;
}

#cart {
  position: fixed;
  top: 380px;
  right: 20px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 102);
  height: 380px;
  width: 285px;
  /*box-shadow: 3px 3px 3px #111;*/
  box-shadow: 5px 5px 5px #1d1f20;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#cartContent {
  height: 300px;
  overflow-y: scroll;
}

  #cartContent ul {
    padding-left: 0px;
  }

.orderContent {
  height: 68px;
  background-color: rgb(105, 133, 76);
  color: #fff;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 5px;
}

.emptyCart {
  text-align: center;
  height: 68px;
  background-color: rgb(105, 133, 76);
  color: #fff;
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 5px;
}
.product {
  height: 90px;
  margin-left: 0px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: rgb(105, 133, 76);
}

.remove {
  cursor: pointer;
  color: red;
}

.img {
  width: 75px;
  height: 85px;
  float: left;
  margin-left: 10px;
  margin-right: 8px;
}

.continue {
  position: fixed;
  top: 720px;
  right: 25px;
  /*float: right;*/
  /*vertical-align: middle;*/
  color: white;
  background-color: red;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
}

.continue button{
  padding: 0px;
  margin-bottom: 5px;
  margin-right: -5px;
}

.select {
  margin: 10px;
  cursor: pointer;
}
li{
  list-style-type: none;
}

.left {
  margin-left: 70px;
  margin-right: 25px;
}
.right {
  margin-left: 25px;
}

.modal-header {
  background-color: rgb(105, 133, 76);
  color: #fff;
}
.modal-body {
  background-color: rgb(255, 255, 102);
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  color: rgb(105, 133, 76);
}
.title {
  display: inline-block;
  text-align: center;
}
.totalOrder {
  color: red;
}

