<p>Тут будуть контакти власників сайту, магазину, або будь-яка інша необхідна інформація</p>
<ul>
  <li *ngFor="let cart of carts">
    {{cart.Id}} - {{cart.Name}} - {{cart.Size}} - {{cart.Color}} - {{cart.Price}} грн. - {{cart.Quantity}}
    <!--<button class="cart" (click)="addCart2(cart)">Добавить</button>-->
    <button class="cart" (click)="addCart3(cart.Id, cart.Name, cart.Picture, cart.Price, count);addQuantity(count);">Добавить</button>
  </li>
  
</ul>


<ul>
  <li *ngFor="let c of newCarts">
    {{c.name}} - {{c.picture}} - {{c.price}} грн. and {{count}}

  </li>
</ul>
Всього одиниць товару - {{newCarts.length}};

<br/><br /><br />
<button (click)="observe2()" class="observable">
  Button
</button>


   

