<div class="container-fluid">
  <div class="row">
    <mat-card *ngFor="let i of dressboy">
      <div class="col-12">
        <mat-card-header>
          <mat-card-title>{{i.Name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="http://localhost:13764/Img/{{i.Picture}}" alt="{{i.Name}}" />
        <mat-card-subtitle>{{i.Description.slice(0, 27).trim() + '...'}}</mat-card-subtitle>
        <mat-card-content>
          <span class="color">{{i.Color}}</span>&nbsp;<span class="size"> {{i.Size}}</span>
        </mat-card-content>
        <mat-card-actions>
          <span class="price">{{i.Price }} грн. </span>&nbsp;&nbsp;&nbsp;
          <button mat-button mat-raised-button class="button" (click)="addCart(i.Id)">Купити</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div>
    <app-cart-rubric [cartSelect] ="cartSelect" [isOrderContent]="isOrderContent" [total]="total">

    </app-cart-rubric>

  </div>

</div>

