.mat-card {
  width: 280px;
  height: 400px;
  margin: 10px 10px 10px 30px;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

.mat-card-image {
  width: 260px;
  height: 260px;
  margin: 0 0 0 0;
}

.color {
  display: inline-block;
  text-align: left;
   margin-right: 20px;
}

.size {
  display: inline-block;
  text-align: right;
  margin-left: 20px;
}
.mat-card-title {
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  color: darkolivegreen;
  text-align: center;
}
.mat-card-subtitle {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: darkolivegreen;
}

.mat-card-header {
  text-align: center;
  margin-left: 10px;
}

.mat-card-actions {
  margin-left: 10px;
  margin-top: 10px;

}

.button {
  background-color: rgb(105, 133, 76);
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.price {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.search {
  width: 20%;
  font-family: Verdana;
  font-weight: normal;
  font-size: 16px;
  color: rgb(105, 133, 76);
}
.mat-paginator {
  width: 80%;
  background-color: rgb(249, 255, 229);
  font-family: Verdana;
  font-weight: normal;
  font-size: 12px;
}
.navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

