
.cardMat {
  width: 280px;
  height: 400px;
  margin: 10px 10px 10px 30px;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

.cardMatImage {
  width: 260px;
  height: 260px;
  margin: 0 0 0 0;
}


.color {
  display: inline-block;
  text-align: left;
   margin-right: 20px;
}

.size {
  display: inline-block;
  text-align: right;
  margin-left: 20px;
}
.cardMatTitle {
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  color: darkolivegreen;
  text-align: center;
 }
.cardMatSubtitle {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: darkolivegreen;
}

.cardMatHeader {
  text-align: center;
  margin-left: 10px;
}

.cardMatActions {
  margin-left: 10px;
  margin-top: 10px;

}

.button {
  background-color: rgb(105, 133, 76);
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.price {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.search {
  width: 20%;
  font-family: Verdana;
  font-weight: normal;
  font-size: 16px;
  color: rgb(105, 133, 76);
}
.mat-paginator {
  width: 80%;
  background-color: rgb(249, 255, 229);
  font-family: Verdana;
  font-weight: normal;
  font-size: 12px;
}
.navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#cartblock {
  border: 0px solid #ccc;
  
}

#cart {
  position: fixed;
  top: 380px;
  right: 20px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 102);
  height: 335px;
  width: 285px;
  /*box-shadow: 3px 3px 3px #111;*/
  box-shadow:  5px 5px 5px #1d1f20;
              
}

#cartContent {
  height: 285px;
  overflow-y: scroll;
}

.smartButton {
  display: none;
}

.grandTotal {
  height: 50px;
  background-color: #69854c;
  color: #fff;
  font-weight: bold;
  padding: 3px;
}
