<div>
  <div class="navigator">
    <mat-form-field class="search">
      <input matInput [(ngModel)]="searchValue" placeholder="Пошук товарів..." />
    </mat-form-field>

    <mat-paginator [length]="100" [pageSize]="12" [pageSizeOptions]="[3, 6, 12, 24, 96]">
    </mat-paginator>


    <div *ngIf="searchValue==null; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div id="wrapper">
        <mat-card *ngFor="let items of datasource">
          <mat-card-header>
            <mat-card-title>{{items.Name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://localhost:13764/Img/{{items.Picture}}" alt="{{items.Name}}" />
          <mat-card-subtitle>{{items.Description}}</mat-card-subtitle>
          <mat-card-content>
            <span class="color">{{items.Color}}</span>&nbsp;<span class="size"> {{items.Size}}</span>
          </mat-card-content>
          <mat-card-actions>
            <span class="price">{{items.Price }} грн. </span>&nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="addCart(items.Id, items.Name,items.Picture, items.Price, quantity)" class="button">Купити</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div id="wrapper">
        <mat-card *ngFor="let items of datasource | search: searchValue">
          <mat-card-header>
            <mat-card-title>{{items.Name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://localhost:13764/Img/{{items.Picture}}" alt="{{items.Name}}" />
          <mat-card-subtitle>{{items.Description}}</mat-card-subtitle>
          <mat-card-content>
            <span class="color">{{items.Color}}</span>&nbsp;<span class="size"> {{items.Size}}</span>
          </mat-card-content>
          <mat-card-actions>
            <span class="price">{{items.Price }} грн. </span>&nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="addToCart(items.Id, items.Name,items.Picture, items.Price, quantity)" class="button">Купити</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </div>



  <div>
    <app-cart *ngIf="isShown" [newCarts]="newCarts" [newCarts1]="newCarts1" [isOrderContent]="isOrderContent"
              [total]="total" [datasource]="datasource" [sum]="sum" [quantity]="quantity" (clickRemove)="itemsFromCart">
    </app-cart>
   
  </div>
        
  <div> Выводим имена товаров, которые остались в корзине:
  
    <ul *ngFor="let c of itemsFromCart">
      <li><h4> - {{c?.name}}</h4></li>
      </ul>
  </div>

</div>


