<div class="container-fluid">

  <div class="row">
    <div class="col-lg-5 col-xl-6">
      <mat-form-field class="search">
        <input matInput [(ngModel)]="searchValue" placeholder="Пошук товарів..." />
      </mat-form-field>
    </div>
    <div class="d-none d-lg-block col-lg-7 col-xl-6">
      <mat-paginator [length]="100" [pageSize]="12" [pageSizeOptions]="[3, 6, 12, 24, 96]">
      </mat-paginator>
    </div>
  </div>

  <div *ngIf="searchValue==null; then thenBlock else elseBlock"></div>

  <div class="row">
    <ng-template #thenBlock>
      <div id="wrapper">
        <mat-card *ngFor="let items of datasource">
          <mat-card-header>
            <mat-card-title>{{items.Name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://localhost:13764/Img/{{items.Picture}}" alt="{{items.Name}}" />
          <mat-card-subtitle>{{items.Description.slice(0, 27).trim() + '...'}}</mat-card-subtitle>
          <mat-card-content>
            <span class="color">{{items.Color}}</span>&nbsp;<span class="size"> {{items.Size}}</span>
          </mat-card-content>
          <mat-card-actions>
            <span class="price">{{items.Price }} грн. </span>&nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="addCart(items.Id)" class="button">Купити</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>

    <ng-template #elseBlock>
      <div id="wrapper">
        <mat-card *ngFor="let items of datasource | search: searchValue">
          <mat-card-header>
            <mat-card-title>{{items.Name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://localhost:13764/Img/{{items.Picture}}" alt="{{items.Name}}" />
          <mat-card-subtitle>{{items.Description}}</mat-card-subtitle>
          <mat-card-content>
            <span class="color">{{items.Color}}</span>&nbsp;<span class="size"> {{items.Size}}</span>
          </mat-card-content>
          <mat-card-actions>
            <span class="price">{{items.Price }} грн. </span>&nbsp;&nbsp;&nbsp;
            <button mat-button mat-raised-button (click)="addCart(items.Id)" class="button">Купити</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </div>

  <app-cart *ngIf="isShown" [cartSelect]="cartSelect" [isOrderContent]="isOrderContent"
            [(total)]="total" [totalSum]="totalSum">
    <!--(clickRemove)="itemsFromCart"-->
  </app-cart>


</div>
