.mat-card {
  margin: 5% 40% 40% 5%;
  
}

  .mat-card input {
    color: rgb(105, 133, 76);
    font-family: Verdana;
    font-size: 18px;
  }

.createForm {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  color: rgb(105, 133, 76);
}

.register {
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(105, 133, 76);
  color: white;
}

.mat-form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.new-form-btn{
  position: relative;

}

.match {
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: red;
}
